@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

/* carrito.css */

/* Estilos generales */
body {

  margin: 0;
  padding: 0;
}

/*color del texto*/
a{
  text-decoration: none;
  color: #fff;
}

/* Encabezado */
header {
  display: flex;
  min-height: 70px;
  background-color: #1d0b41;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-imag{
  width: 90px;
  margin-right: 10px;
}

/*color y bordado delas descripcion del header*/
nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: #ccc;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    /*width: 40px;*/
    height: 40px;
    line-height: 0;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }

/*fin diseño formulario login*/

/*ini footer*/

/*ini pie pagina*/

img{
    width: 50px;
  }
  .log{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body{
    font-family: 'Exo 2', sans-serif;
  }
  footer{
    bottom:0;
    width: 100%;
  }
  .pie{
    background: #1d0b41;
  }
  span{
    font-size: 23px;
  }
  .fb{
    background: rgb(0, 81, 225);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .tw{
    background: rgb(0, 140, 225);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .in{
    background: rgb(225, 0, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .li{
    background: rgb(0, 162, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .yt{
    background: rgb(255, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
  }
  .header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .logotipo{
    font-size: 18px;
    color: white;
  }
  .section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  .section div{
    display: flex;
    flex-direction: column;
  }
  div h2{
    color: white;
    padding: 10px 0px;
  }
  a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input{
    background: none;
    border: solid 2px white;
    padding: 10px 20px;

  }
  button{
    padding: 10px 20px;
    background: white;
    color: blueviolet;
    font-size: 18px;
  }
  .derechos{
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #262626;
    color: white;
  }
