/* signup.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*color del texto*/
a{
  text-decoration: none;
  color: #fff;
}

/* Encabezado */
header {
  display: flex;
  min-height: 70px;
  background-color: #1d0b41;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo-imag{
  width: 90px;
  margin-right: 10px;
}

/*color y bordado delas descripcion del header*/
nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: #ccc;
}

/*para que sea responsivo*/
@media (max-width:700px){
    header{
      flex-direction: column;
    }
    nav{
      padding: 10px 0px;
    }
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  min-height: 100vh;
  display: contents;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
}

.container{
  margin: auto;
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container .txt-1{
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form{
  margin-top: 30px;
}

.form .input-box{
  width: 100%;
  margin-top: 20px;
}

.input-box label{
  color: #333;
}

.form :where(.input-box input, .select-box){
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column{
  display: flex;
  column-gap: 15px;
}

.form .gender-box{
  margin-top: 20px;
}

.gender-box h3{
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender){
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender{
  column-gap: 5px;
  cursor: pointer;
}

.gender input{
  accent-color: rgb(130, 106, 251);;
}

.form :where(.gender, input, .gender label){
  cursor: pointer;
}

.gender label{
  color: #707070;
}

.addres :where(input, .select-box){
  margin-top: 15px;
}

.select-box select{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button{
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 400;
  transition: all 0.2 ease;
  background-color: rgb(130, 106, 251);
}

.form button:hover{
  background-color: rgb(88, 56, 250);
}

/* Sección Responsiva*/
@media screen and (max-width: 500px) {
  .form .column{
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender){
    row-gap: 15px;
  }
}

/*fin diseño formulario login*/

/*ini footer*/

/*ini pie pagina*/

img{
  width: 50px;
}
.log{
  display: flex;
  align-items: center;
  gap: 10px;
}
body{
  font-family: 'Exo 2', sans-serif;
}
footer{
  bottom:0;
  width: 100%;
}
.pie{
  background: #1d0b41;
}
span{
  font-size: 23px;
}
.fb{
  background: rgb(0, 81, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.tw{
  background: rgb(0, 140, 225);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.in{
  background: rgb(225, 0, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.li{
  background: rgb(0, 162, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.yt{
  background: rgb(255, 0, 0);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.logotipo{
  font-size: 18px;
  color: white;
}
.section{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.section div{
  display: flex;
  flex-direction: column;
}
div h2{
  color: white;
  padding: 10px 0px;
}
a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inpat{
  background: none;
  border: solid 2px white;
  padding: 10px 20px;
  color: #fff;
}
button{
  padding: 10px 20px;
  background: white;
  color: blueviolet;
  font-size: 18px;
}
.derechos{
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #262626;
  color: white;
}
